.loader-container {
  position: fixed; /* Fix the position relative to the screen */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the loader */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure the loader is above other content */
}

.loader-container img {
  width: 50px; /* Adjust the size of the loader as needed */
  height: 50px;
}

.animation-delay-150 {
  animation-delay: 0.15s;
}
